@charset "utf-8";
@use "sass:math";

$item-size: 64px;
$small-item-size: math.div($item-size, 3);

.item {
    width: $item-size;
    height: $item-size;
    object-fit: contain;

    background-color: rgba(0, 0, 0, 0.95);
}

.recipe-container {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .ingredients {
        display: grid;
        grid-template-columns: repeat(4, $item-size);
        gap: 8px;
    }

    .outputs {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
}

.ingredient {
    display: grid;
    grid-template-rows: $item-size $small-item-size;
    grid-template-columns: repeat(3, $small-item-size);
    gap: 0;

    .item:first-child {
        grid-column: 1 / 4;
    }

    .item:not(:first-child) {
        width: $small-item-size;
        height: $small-item-size;
    }
}
